// ==========================================================================
// Colors
// ==========================================================================
$main-colors: (
  "success": #3cc368,
  "warning": #f5a600,
  "error": #ec5840,
  "info": #1d72f3,
);

// ==========================================================================
// Font-size
// ==========================================================================
$font-base: 16;
// ==========================================================================
// Spacing
// ==========================================================================

// ==========================================================================
// Social Media
// ==========================================================================

$social-media-colors: (
  "facebook": #3b5998,
  "twitter": #00aced,
  "linkedin": #0077b5,
  "youtube": #cd201f,
  "instagram": #e4405f,
  "github": #333,
);

// ==========================================================================
// Z-index
// ==========================================================================

$z-indexes: (
  "modal": 500,
  "above": 400,
  "overlay": 300,
  "dropdown": 200,
  "medium": 10,
  "default": 1,
  "below": -1,
);
