header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 30px 25px;
  background: white;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  z-index: z-index("medium");

  .header--toogle-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 40px;
    cursor: pointer;

    &:hover {
      div {
        &:nth-child(2) {
          width: 80%;
        }

        &:nth-child(3) {
          width: 60%;
        }
      }
    }

    &.active {
      div {
        &:nth-child(1) {
          transform: translateY(10px) rotate(42deg);
          width: 85%;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          width: 85%;
          transform: translateY(-5px) rotate(-42deg);
        }
      }
    }

    div {
      height: 4px;
      width: 100%;
      background: black;
      transition: all 0.3s ease-out;
    }
  }

  nav {
    &.active {
      transform: translate(0%);
      transition: all 0.3s ease-out;
    }

    .nav--container {
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        li {
          display: inline-block;
          margin-right: 20px;

          &:last-child {
            margin-right: 0px;
          }

          a {
            color: #000000;
            font-size: pxtoem(18);
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  header {
    .header--toogle-btn {
      display: flex;
      position: relative;
      z-index: z-index(above);
    }
    // ==========================================================================
    // - Menu lateral sem efeito efeito overlay
    // ==========================================================================
    nav {
      position: absolute;
      top: 96px;
      right: 0%;
      height: calc(100vh - 96px);
      width: 20%;
      min-width: 271px;
      overflow: hidden;

      &.active {
        -webkit-box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.3);
        transition-delay: 0.2s;

        .nav--container {
          transform: translate(0%);
          transition: all 0.3s ease-out;
        }
      }

      .nav--container {
        position: relative;
        width: 100%;
        height: 100%;
        background: white;
        transform: translate(100%);
        -webkit-box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.3);

        ul {
          li {
            display: block;
            margin-right: 0px;
            margin-bottom: 30px;

            &:last-child {
              margin-bottom: 0px;
            }

            a {
              font-size: pxtoem(28);
              font-weight: 700;
            }
          }
        }
      }
    }

    // ==========================================================================
    // - Menu lateral com efeito overlay
    // ==========================================================================
    nav.overlay {
      position: absolute;
      height: 100vh;
      width: 100vw;
      background: rgb(0, 0, 0, 0.5);
      top: 0px;
      right: 0px;
      display: none;

      &.active {
        display: block;
        animation: fade-in 0.3s ease-out;

        ul {
          animation: fade-left 0.3s ease-out both;
        }
      }

      .nav--container {
        position: relative;
        width: 100%;
        height: 100vh;
        background: none;
        overflow: hidden;

        ul {
          background: white;
          width: 25%;
          min-width: 271px;
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0px;
          right: 0px;
          transform: translate(100%);

          li {
            display: block;
            margin-right: 0px;
            margin-bottom: 30px;

            &:last-child {
              margin-bottom: 0px;
            }

            a {
              font-size: pxtoem(28);
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-left {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0%);
  }
}
